<div class="wrapper">
    <div class="content">
        <div class="links">
            <a routerLink="adduser" routerLinkActive="active">Add User</a>
            <a routerLink="addproduct" routerLinkActive="active">Add Product</a>
            <a routerLink="showproducts" routerLinkActive="active">Show Products</a>
            <a routerLink="showusers" routerLinkActive="active">Show Users</a>
        </div>

        <div class="display">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
