<div class="wrapper">
    <div class="content">
        <h4>Add Product</h4>
        <form [formGroup]="Form">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" formControlName="name">
            </div>
            
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" formControlName="price">
            </div>

            <button type="submit" (click)="submit()" [disabled]="Form.invalid">Add</button>
        </form>
    </div>
</div>